src/main/mule/mule-cicd1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ae7ae02e-50a7-499a-ba2d-8d96102842eb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-cicd1Flow" doc:id="68609bed-27fc-4e32-a9b3-8c1d6571388d" >
		<http:listener doc:name="Listener" doc:id="26eb29ed-cce4-478b-8efc-32158c191c8b" config-ref="HTTP_Listener_config" path="\cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="8a4c9d2b-daa4-445e-ac70-5aee5090fa21" message="Request recieved"/>
		<set-payload value='#["Success"]' doc:name="Set Payload" doc:id="5ca74d1f-6678-4c45-8ba3-106ac9c6baa7" />
	</flow>
</mule>
